@import 'tailwindcss';
@import 'tw-animate-css';
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:is(.dark *));

/* Blender Pro */
@font-face {
  font-family: 'Blender Pro';
  src:
    local('Blender Pro Thin'),
    local('BlenderPro-Thin'),
    url('./assets/fonts/BlenderPro/BlenderPro-Thin.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro Book';
  src:
    local('Blender Pro Book'),
    local('BlenderPro-Book'),
    url('./assets/fonts/BlenderPro/BlenderPro-Book.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src:
    local('Blender Pro Medium'),
    local('BlenderPro-Medium'),
    url('./assets/fonts/BlenderPro/BlenderPro-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src:
    local('Blender Pro Heavy'),
    local('BlenderPro-Heavy'),
    url('./assets/fonts/BlenderPro/BlenderPro-Heavy.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Blender Pro';
  src:
    local('Blender Pro Bold'),
    local('BlenderPro-Bold'),
    url('./assets/fonts/BlenderPro/BlenderPro-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Avant Garde */
@font-face {
  font-family: 'Avant Garde';
  src: url('./assets/fonts/ITCAvantGarde/ITCAvantGardeStd-BkObl.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Avant Garde';
  src: url('./assets/fonts/ITCAvantGarde/ITCAvantGardeStd-DemiObl.otf') format('opentype');
  font-weight: bold;
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

:root {
  --radius: 0.625rem;
  --background: oklch(1 0 0);
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: #e95a0c;
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: #e95a0c;
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }

  .clab-configurator {
    font-family: 'Blender Pro', sans-serif;
  }
}

@layer utilities {
  /* Hide the search clear button in search inputs */
  .no-search-clear::-webkit-search-cancel-button {
    display: none;
    -webkit-appearance: none;
    appearance: none;
  }

  /* Hide the spinner in number inputs */
  .no-spinner::-webkit-outer-spin-button,
  .no-spinner::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  .no-spinner {
    -moz-appearance: textfield; /* Firefox */
  }
}

/*{ 'battleship_gray': { DEFAULT: '#979797', 100: '#1e1e1e', 200: '#3c3c3c', 300: '#5a5a5a', 400: '#787878', 500: '#979797', 600: '#ababab', 700: '#c0c0c0', 800: '#d5d5d5', 900: '#eaeaea' }, 'battleship_gray': { DEFAULT: '#888888', 100: '#1b1b1b', 200: '#363636', 300: '#515151', 400: '#6c6c6c', 500: '#888888', 600: '#9f9f9f', 700: '#b7b7b7', 800: '#cfcfcf', 900: '#e7e7e7' }, 'gray': { DEFAULT: '#777777', 100: '#181818', 200: '#303030', 300: '#484848', 400: '#606060', 500: '#777777', 600: '#939393', 700: '#aeaeae', 800: '#c9c9c9', 900: '#e4e4e4' }, 'dim_gray': { DEFAULT: '#686868', 100: '#151515', 200: '#2a2a2a', 300: '#3f3f3f', 400: '#545454', 500: '#686868', 600: '#878787', 700: '#a5a5a5', 800: '#c3c3c3', 900: '#e1e1e1' }, 'davy's_gray': { DEFAULT: '#585858', 100: '#121212', 200: '#242424', 300: '#363636', 400: '#474747', 500: '#585858', 600: '#7a7a7a', 700: '#9c9c9c', 800: '#bdbdbd', 900: '#dedede' }, 'onyx': { DEFAULT: '#454545', 100: '#0e0e0e', 200: '#1c1c1c', 300: '#292929', 400: '#373737', 500: '#454545', 600: '#6a6a6a', 700: '#8f8f8f', 800: '#b5b5b5', 900: '#dadada' }, 'jet': { DEFAULT: '#323232', 100: '#0a0a0a', 200: '#141414', 300: '#1f1f1f', 400: '#292929', 500: '#323232', 600: '#5c5c5c', 700: '#858585', 800: '#adadad', 900: '#d6d6d6' }, 'eerie_black': { DEFAULT: '#1e1e1e', 100: '#060606', 200: '#0c0c0c', 300: '#121212', 400: '#181818', 500: '#1e1e1e', 600: '#4b4b4b', 700: '#787878', 800: '#a5a5a5', 900: '#d2d2d2' }, 'night': { DEFAULT: '#0c0c0c', 100: '#030303', 200: '#050505', 300: '#080808', 400: '#0a0a0a', 500: '#0c0c0c', 600: '#3d3d3d', 700: '#6e6e6e', 800: '#9e9e9e', 900: '#cfcfcf' } }*/
